.css-heg063-MuiTabs-flexContainer,
.css-k008qs {
    justify-content: space-between !important;
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected,
.css-1q2h7u5.Mui-selected {
    color: aliceblue !important;
    background-color: #26272B;
    transition: 1s;
    font-size: 0.9rem;
}
